{% extends "base.html" %}
{% block title %}Edit Plant{% endblock %}
{% block content %}
<h1>Edit Plant</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }} {{ form.name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.purchase_date.label }} {{ form.purchase_date(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.light_conditions.label }} {{ form.light_conditions(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.watering_frequency.label }} {{ form.watering_frequency(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.fertilizing_frequency.label }} {{ form.fertilizing_frequency(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.notes.label }} {{ form.notes(class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Update Plant</button>
    <a href="{{ url_for('list_plants') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}