{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Welcome to GreenGuardian</h1>
    {% if user %}
        {{ greeting }}, {{ user['username'] }}

        <h2>Tasks Overview (Next 1 Week)</h2>
        <p>You have {{ upcoming_watering_tasks }} watering tasks and {{ upcoming_fertilizing_tasks }} fertilizing tasks in the next week.</p>
        <h2>Upcoming Watering Notifications</h2>
        {% if upcoming_watering_plants|length == 0 %}
        <p>You have no watering notifications for the next week.</p>
        {% else %}
        <ul>
            {% for plant in upcoming_watering_plants %}
            <li>{{ plant.name }}: Next watering on {{ plant.next_watering_date }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h2>Upcoming Fertilizing Notifications</h2>
        {% if upcoming_fertilizing_plants|length == 0 %}
        <p>You have no fertilizing notifications for the next week.</p>
        {% else %}
        <ul>
            {% for plant in upcoming_fertilizing_plants %}
            <li>{{ plant.name }}: Next fertilizing on {{ plant.next_fertilizing_date }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="{{ url_for('notifications') }}" class="btn btn-primary">View Notifications for the Next 3 Months</a>

        <h2>Watering Frequency Statistics</h2>
        <ul>
            <li>Daily: {{ freq_counts['daily'] }}</li>
            <li>Every 3 Days: {{ freq_counts['every 3 days'] }}</li>
            <li>Weekly: {{ freq_counts['weekly'] }}</li>
            <li>Bi-Weekly: {{ freq_counts['bi-weekly'] }}</li>
            <li>Monthly: {{ freq_counts['monthly'] }}</li>
        </ul>

        <h2>Your Plants</h2>
        {% if plants %}
            <ul>
                {% for plant in plants %}
                <li><a href="{{ url_for('plant_detail', plant_id=plant.id) }}">{{ plant.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('list_plants') }}" class="btn btn-primary">View All Plants</a>
        {% else %}
            <p>You haven't registered any plants yet. Start by adding your first plant to begin managing its care effectively.</p>
            <a href="{{ url_for('add_plant') }}" class="btn btn-primary">Add Your First Plant</a>
        {% endif %}
    {% else %}
        <p>By creating an account you’ll receive personalized care notifications and expert advice tailored to your specific plants.</p>
        <p>Keep your plants healthy with timely reminders for watering and fertilizing.</p>
        <p>Track your plant's growth and care history, and join our community to share tips and learn from other plant enthusiasts.</p>
        <p>Start now and ensure your plants thrive!</p>
        <p>Please <a href="{{ url_for('login') }}">log in</a> or <a href="{{ url_for('signup') }}">sign up</a>.</p>
{% endif %}
{% endblock %}
